
######################################################################
## Tree spawners
## using ID range 12550 - 12552
######################################################################

######################################################################
## Food trees

[WorldSpawner.12550]
Name=Small apple tree
PrefabName=D_small_Apple_tree
Enabled=true
Biomes=Meadows,BlackForest,
MaxSpawned=1
SpawnInterval=200
SpawnChance=15
SpawnDistance=500
SpawnRadiusMin=20
SpawnRadiusMax=50
GroupSizeMin=1
GroupSizeMax=1
GroupRadius=10
GroundOffset=0.1
ConditionAltitudeMin=1
ConditionAltitudeMax=100

[WorldSpawner.12551]
Name=Small Orange tree
PrefabName=D_Small_Orange_Tree
Enabled=true
Biomes=BlackForest,
MaxSpawned=1
SpawnInterval=200
SpawnChance=15
SpawnDistance=500
SpawnRadiusMin=20
SpawnRadiusMax=50
GroupSizeMin=1
GroupSizeMax=1
GroupRadius=10
GroundOffset=0.1
ConditionAltitudeMin=1
ConditionAltitudeMax=100

[WorldSpawner.12552]
Name=Small Lemon tree
PrefabName=D_Small_Lemon_Tree
Enabled=true
Biomes=Swamp,
MaxSpawned=1
SpawnInterval=200
SpawnChance=15
SpawnDistance=500
SpawnRadiusMin=20
SpawnRadiusMax=50
GroupSizeMin=1
GroupSizeMax=1
GroupRadius=10
GroundOffset=0.1
ConditionAltitudeMin=-1.5
ConditionAltitudeMax=100

[WorldSpawner.12552]
Name=Small plum tree
PrefabName=D_small_Plum_tree
Enabled=true
Biomes=Swamp,
MaxSpawned=1
SpawnInterval=200
SpawnChance=15
SpawnDistance=500
SpawnRadiusMin=20
SpawnRadiusMax=50
GroupSizeMin=1
GroupSizeMax=1
GroupRadius=10
GroundOffset=0.1
ConditionAltitudeMin=-1.5
ConditionAltitudeMax=100
