######################################################################
## Crafting materials spawners
## using ID range 12400 - 12405
######################################################################

[WorldSpawner.12401]
Name=Lydit Fragments
PrefabName=Krump_Spawner_Pickable_Lydit_Fragments
Enabled=true
Biomes=Meadows,BlackForest,
MaxSpawned=4
SpawnInterval=200
SpawnChance=50
SpawnDistance=50
SpawnRadiusMin=10
SpawnRadiusMax=50
GroupSizeMin=2
GroupSizeMax=3
GroupRadius=10
GroundOffset=0.1
ConditionAltitudeMin=-0.5
ConditionAltitudeMax=1

[WorldSpawner.12402]
Name=Sticks
PrefabName=Krump_Spawner_Pickable_Sticks_Wood
Enabled=true
Biomes=Meadows,
MaxSpawned=2
SpawnInterval=200
SpawnChance=20
SpawnDistance=100
SpawnRadiusMin=10
SpawnRadiusMax=80
GroupSizeMin=1
GroupSizeMax=2
GroupRadius=10
GroundOffset=0.1
ConditionAltitudeMin=5
ConditionAltitudeMax=100

[WorldSpawner.12403]
Name=Urchin
PrefabName=Krump_Spawner_Destroyable_Urchin
Enabled=true
Biomes=Meadows,BlackForest,
MaxSpawned=3
SpawnInterval=300
SpawnChance=50
SpawnDistance=30
SpawnRadiusMin=10
SpawnRadiusMax=30
GroupSizeMin=1
GroupSizeMax=3
GroupRadius=20
GroundOffset=0.1
ConditionAltitudeMin=-10
ConditionAltitudeMax=-1

[WorldSpawner.12404]
Name=Chitin Rock
PrefabName=Krump_Spawner_Pickable_Ocean_Chitin
Enabled=true
Biomes=BlackForest,Ocean,
MaxSpawned=5
SpawnInterval=100
SpawnChance=80
SpawnDistance=30
GroupSizeMin=1
GroupSizeMax=2
GroundOffset=0.1
ConditionAltitudeMin=-50
ConditionAltitudeMax=-5

[WorldSpawner.12405]
Name=Jute Bush
PrefabName=Krump_Plant_Jute_Sapling
Enabled=true
Biomes=Mountain,
MaxSpawned=5
SpawnInterval=100
SpawnChance=40
SpawnDistance=100
GroupSizeMin=1
GroupSizeMax=4
GroundOffset=0.1
ConditionAltitudeMin=100
ConditionAltitudeMax=1500
